.movie-slider .slick-slider {
  overflow: hidden !important;
}

.movie-slider .slick-list {
  margin: 0 -12px !important;
}
.slick-track {
  display: flex !important;
}

.movie-slider .slick-slide {
  height: inherit !important;
}
.movie-slider .slide {
  height: 100%;
}
.slick-slide > div {
  height: 100%;
}
.slick-slide > div {
  height: 100%;
}

.category-carousel .slick-track {
  align-items: center;
}

.category-carousel .slick-slide > div {
  display: flex !important;
}

a {
  text-decoration: none;
}
